
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

header{
    background-color: #FFFFFF;
    
}

.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}

nav{
    width: 100%;
    max-width: 1600px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 32px;
}

nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
}

nav .menu a{
    font-size: 16;
    color: #000000;
    text-decoration: none;
}

.btn{
    background-color: #188043;
    border: none;
    font-size: 16px;
    padding: 10px 26px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

#banner .banner-content .banner-button .btn2{
    background-color: transparent;
    border-color: #FFFFFF;
    font-size: 16px;
    
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

#banner .banner-content .btn3{
    background-color: #FFFFFF;
    color: #188043;
    text-align:center;
    border-radius: 15px;
    font-size: 18px;
    align-content: center;
    
}

#banner{
    padding-top: 70px;
    padding-bottom: 165px;
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size:contain;
    
    
}

#banner .banner-content{
    max-width: 1600px;
    align-items: center;
    margin: 120px;
    
    
    
    
    
}

#banner .banner-button{
    padding-top: 32px;
    margin-left: 550px;
    margin-right: 300px;
}

#banner .banner-content h1{
    font-size: 72px;
    font-weight: bold;
    text-align: center;
    
    
}


#banner .banner-content p{
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 30px;
}


#about .about-container h2{
    font-size: 48px;
    font-weight: bold;
}

#about .about-container p{
    font-size: 16;
    color: #627382;
}

#about .about-container{
    width: 71%;
    max-width: 1360px;
    margin: 0 auto;

}

#about .about-container .about-box{
    display: flex;
    gap: 24px;
}

.about-box .about-card{
    padding: 24px;
    box-shadow: 0 5px 40px 0 #0000001f;
    width: 322px;
    height: 250px;
    
}

.about-card img{
    max-width: 60px;
    background-color: #F95555;
    padding: 15px;
    border-radius: 30px;
    margin: 48px auto 16px auto;
    display: block;
    
}

.about-card h3{
    font-size: 14;
    font-weight: bold;
    color:#000 ;
    margin-bottom: 16px;
    text-align: center;
}

.about-card p{
    font-size: 16px;
    color: #627382;
    text-align: center;;

}