
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

header{
    background-color: #FFFFFF;
}

nav{
    width: 100%;
    max-width: 1600px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
}

nav .menu a{
    font-size: 16;
    color: #000000;
    text-decoration: none;
}

.btn{
    background-color: #188043;
    border: none;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 26px;
    padding-right: 26px;
    border-radius: 5px;
    font-weight: bold;
}